.input-wrapper {
  display: grid;
  gap: 0.725rem;
}

label {
  font: var(--body-sm);
  color: var(--text-body);
}

input {
    appearance: none;
    width: 100%;
    border-radius: .5rem;

    padding: .75rem 1rem;

    border: 1px solid var(--input-stroke);
    
    background-color: var(--input-base);

    font: var(--body-md);
    color: var(--input-placeholder);

}