.radio-type {
  display: flex;
  justify-content: space-between;
  background-color: var(--input-base);
  border-radius: 0.5rem;
  border: 1px solid var(--input-stroke);
  padding: 0.48rem;

  &:focus-within {
    outline: 1px solid var(--brand-light);
  }
}

.type-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  cursor: pointer;
  gap: 0.5rem;

  max-width: 8rem;
  position: relative;
  & input,
  & input:focus,
  & input:hover {
    all: unset;
    position: absolute;
    inset: 0;
  }

  svg {
    max-width: 1rem;
  }

  label {
    font: var(--body-sm);
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--shape-hover);
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: -0.25rem;

    label {
      color: var(--text-heading);
      font-weight: 700;
    }

    svg path {
      fill: var(--brand-light);
    }
  }

  &:has(:checked) {
    background-color: var(--shape-hover);
    border-radius: 0.5rem;
    padding: 0.25rem;
    margin: -0.25rem;

    label {
      color: var(--text-heading);
      font-weight: 700;
    }

    svg path {
      fill: var(--brand-light);
    }
  }
}

/* Colors */

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5rem, 1fr));
    gap: .75rem;
}

.radio-inner {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover {
        outline: 2px solid var(--brand-light);
    }

    &:has(:checked) {
        outline: 2px solid var(--brand-light);
    }
}

.theme-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
    gap: .5rem;
}

.theme-inner {
    border: 1px solid var(--stroke-default);
    border-radius: .5rem;

    background-color: var(--input-stroke);

    display: grid;
    justify-items: center;
    gap: .5rem;

    padding: .125rem;

    
    position: relative;
    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }
    img {
        padding: .2rem;
    }

    &:hover {
        outline: 2px solid var(--brand-light);
    }

    &:has(:checked) {
        outline: 2px solid var(--brand-light);
    }
}



