#app {
  display: grid;
  grid-template-columns: 32.8% 67.2%;

  min-height: 100vh;
  overflow: hidden;

  background-color: var(--shape-background);
}

main {
  background-color: var(--shape-body);
  margin: 1.25rem;

  border-radius: 0.75rem;

  & .main-container {
    margin-top: 5rem;

    max-width: 35rem;
    margin-left: 8.125rem;

    h1 {
      font: var(--heading-md);
      color: var(--text-heading);

      margin-bottom: 2.5rem;
    }
  }
}

aside {
  & .aside-container {
    background: url(../assets/Background.png) center / cover no-repeat;
    border-radius: 0.75rem;
    margin: 1.25rem;
    margin-right: 0;
    min-height: calc(100vh - 2.5rem);


    & svg,
    h1,
    p {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    & svg {
      margin-top: 2rem;
    }

    & h1 {
      font: var(--logo);
      color: var(--pink);
    }

    & p {
      font-family: var(--font-open-sans);
      font-size: 1rem;
      font-weight: 300;
      line-height: normal;
      color: var(--text-heading);
    }
  }
}
